body{
    border: 2px solid red;
    max-width:1130px;
}

.image-container{
    display: flex;
   
}
.image-container img{
    width: 100%;
   
}
.image-container div{
    width: 50%;
  
}
@media screen and (max-width:700px){
    .image-container{
        flex-direction: column;
    }
    .image-container div{
        width:100%;
     
    }
   
}