nav{
    display: flex ;
    justify-content: space-between;
}


nav a{
    text-decoration: none;
    color:black;
    display:inline;
}
.login-form{
display: flex;
flex-direction: column;
width: 50%;
justify-content: center;
 /* border: 2px solid black; */
}
.login-form input{
    margin: 10px;
    border: 2px solid rebeccapurple;
}
 .login-form-container{
    display: flex;
    justify-content: center;
    /* border: 2px solid red  ; */
    height: 90vh;
 }
